{% extends 'base.html' %}
{% load static %}

{% block title %}DS Layer 4 - 보고서 관리{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ds_layer4/css/index.css' %}?v=20260903-3">
<style>
    :root { --page-color: {{ layer.color }}; }
</style>
{% endblock %}

{% block content %}
{% include 'ds_layer4/partials/_layer4_report_tab.html' %}
{% include 'ds_layer4/partials/_layer4_file_history_modal.html' %}
{% include 'ds_layer4/partials/_layer4_screenshot_modal.html' %}
{% include 'ds_layer4/partials/_layer4_detail_modal.html' %}
{% include 'ds_layer4/partials/_layer4_report_output_modal.html' %}
{% endblock %}

{% block extra_js %}
<div id="app-data" data-user-id="{{ request.user.username|default:'anonymous'|escapejs }}" style="display:none;"></div>
<script src="{% static 'ds_layer4/js/index.js' %}?v=20260903-3"></script>
<script src="{% static 'ds_layer4/js/report.js' %}?v=20260903-3"></script>
<script src="{% static 'ds_layer4/js/file-tab.js' %}?v=20260903-3"></script>
<script src="{% static 'ds_layer4/js/screenshot.js' %}?v=20260903-3"></script>
{% endblock %}
