{% extends 'base_layer2.html' %}
{% load static %}

{% block page_title %}중복 검증{% endblock %}

{% block layer2_content %}
<div id="dx-validation-container">
    <div class="loading">
        <div class="loading-spinner"></div>
        <p>데이터 로딩 중...</p>
    </div>
</div>
{% endblock %}

{% block layer2_js %}
<script src="{% static 'dx_layer2/js/layer2-common.js' %}?v=20260824-5"></script>
<script src="{% static 'dx_layer2/js/null_validation.js' %}?v=20260831-1"></script>
<script src="{% static 'dx_layer2/js/anomaly_validation.js' %}?v=20260811-1"></script>
<script src="{% static 'dx_layer2/js/dashboard.js' %}?v=20260831-1"></script>
{% endblock %}
