{% extends 'base_layer1.html' %}
{% load static %}
{% block page_title %}SEA Retail{% endblock %}

{% block layer1_content %}
<div class="checks-section" id="summary-view">
    <div id="section-content">
        <div class="check-item">
            <div class="check-main"><div class="check-info"><div class="check-name">로딩 중...</div></div></div>
        </div>
    </div>
</div>

{% include '_raw_data_view.html' with back_url='/dx/layer1/retail/' %}
{% endblock %}


{% block layer1_js %}
<script src="{% static 'dx_layer1/js/retail.js' %}?v=15"></script>
{% endblock %}
